.container {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 20px;
}

.dropdown,
.searchInput {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
